@using ePerhilitanV2.Infrastructures.Services;
@{
    var _service = new AccountService();
    var userId = "";
    var imageType = "";
    byte [] imageContent = null;


    if (Request.IsAuthenticated) //login user
    {
        userId = User.Identity.Name;
        var image_profile = _service.getProfileImage(Convert.ToInt32(userId));

        imageType = image_profile.ImgMime;
        imageContent = image_profile.ImgProfileByte;
    }
}

<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm">

        <ul class="navbar-item theme-brand flex-row  text-center">
            <li class="nav-item theme-logo">
                <a href="#">
                    <img src="~/Content/assets/logo/Logo_JataNegara.png" class="navbar-logo" alt="logo">
                </a>
            </li>
            <li class="nav-item theme-logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/assets/logo/Logo_Perhilitan.png" class="navbar-logo" alt="logo">
                </a>
            </li>
            <li class="nav-item theme-logo">
                <a href="#">
                    <img src="~/Content/assets/logo/Logo_Rimau.png" class="navbar-logo" alt="logo">
                </a>
            </li>
        </ul>

        <ul class="navbar-item flex-row ml-md-auto">

            <li class="nav-item dropdown language-dropdown">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="~/Content/assets/logo/@(Request.Cookies["culture"].Values).png" class="flag-width" alt="flag">
                </a>
                <div class="dropdown-menu position-absolute" aria-labelledby="language-dropdown">
                    <a href="@Url.Action("ChangeLanguage", "Language", new { lang = "my" })" class="dropdown-item d-flex"><img src="~/Content/assets/logo/my.png" class="flag-width" alt="flag"> <span class="align-self-center">&nbsp;Malaysia</span></a>
                    <a href="@Url.Action("ChangeLanguage", "Language", new { lang = "en" })" class="dropdown-item d-flex"><img src="~/Content/assets/logo/en.png" class="flag-width" alt="flag"> <span class="align-self-center">&nbsp;English</span></a>
                </div>
            </li>
            @if (Request.IsAuthenticated) //login user
            {
                <li class="nav-item dropdown user-profile-dropdown">
                    @if (imageType != "" && imageContent != null)
                    {
                        <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="data:@imageType;base64, @Convert.ToBase64String(imageContent)" alt="Image">
                        </a>                      
                    }
                    else
                    {
                        <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="~/Content/assets/img/defaultProfile.png" alt="avatar">
                        </a>
                    }

                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                        <div class="">
                            <div class="dropdown-item">
                                <a class="" href="@Url.Action("MyProfile", "Profile", new {type = GlobalFunction.encodeThis("1")})"><i data-feather="user"></i> @Resources.Resource.MyProfile</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="@Url.Action("Audit_Log_User", "Profile", new {page = GlobalFunction.encodeThis("loguser")})"><i data-feather="list"></i> @Resources.Resource.Tab1_UserLog</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="@Url.Action("Logout", "Account")"><i data-feather="log-out"></i> @Resources.Resource.LogOut</a>
                            </div>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link text-white">
                        @Resources.Resource.HOME_Login
                    </a>

                </li>
            }

        </ul>
    </header>
</div>