<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">
    <title>@ViewBag.Title | myPERHILITAN </title>
    <link rel="icon" type="image/x-icon" href="~/Content/assets/logo/Logo_Perhilitan.png" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/Portal/css/style.css">
    <link rel="stylesheet" href="~/Content/Portal/css/vars.css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/forms/switches.css">
    <link href="~/Content/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components/custom-list-group.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css">
    <link href="~/Content/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/table/datatable/datatables.css">
    <link href="~/Content/plugins/table/datatable/custom_dt_html5.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/table/datatable/dt-global_style.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/plugins/sweetalerts/promise-polyfill.js"></script>
    <link href="~/Content/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/LesenForm.css" rel="stylesheet" type="text/css">

    <style>
        body {
            /* background: linear-gradient(to bottom, #fff4f0, #ee870d);*/
            background: rgb(0,112,71);
            background: radial-gradient(circle, rgba(0,112,71,1) 0%, rgba(255,124,0,0.227328431372549) 100%);
            background-size: cover;
            or 'contain' or any other appropriate value background-repeat: repeat-y;
            background-size: auto;
            font-size: 14px;
        }

        h4 {
            text-transform: uppercase;
            font-weight: bold;
        }

        hr.hr_color {
            border-top: 1px solid #ed891f;
        }
    </style>
</head>

<body>
   
    @Html.Partial("~/Views/Shared/_AccountHeader.cshtml")
    <div class="form-container outer" style="padding-top:10px">
        <div class="col-md-10 mx-auto" style="margin-top:50px">
            <div class="form-register">
                <div class="form-register-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>


    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Content/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- BEGIN PAGE DATATABLE/SELECT2 SCRIPTS -->
    <script src="~/Content/plugins/table/datatable/datatables.js"></script>
    <script src="~/Content/plugins/select2/select2.min.js"></script>
    <script src="~/Content/plugins/select2/custom-select2.js"></script>
    <script src="~/Content/assets/js/elements/tooltip.js"></script>

    <script src="~/Content/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/table/datatable/button-ext/jszip.min.js"></script>
    <script src="~/Content/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/table/datatable/button-ext/buttons.print.min.js"></script>

    <!-- ENDPAGE DATATABLE/SELECT2 SCRIPTS -->
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Content/plugins/flatpickr/flatpickr.js"></script>
    <script src="~/Content/assets/js/authentication/form-1.js"></script>
    @*<script src="~/Content/assets/js/ContactUs.js"></script>
        <script src="~/Content/assets/js/Vid-Harimau.js"></script>*@
    <script src="~/Content/plugins/flatpickr/custom-flatpickr.js"></script>
    <script src="~/Content/assets/js/custom-dashboard.js"></script>

    <script src="~/Content/plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="~/Content/plugins/sweetalerts/custom-sweetalert.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/plugins/font-icons/feather/feather.min.js"></script>
    <script type="text/javascript">
        feather.replace();
    </script>

    @*start sweetalert popup*@

    @if (TempData["Message"] != null)
    {
        <script>
            var msg = '@TempData["Message"]';
                $(document).ready(function()
                    {
                   new swal({
                        html: "<span style='color:black !important'>"+msg+"<span>",
                        type: "success",
                        padding: '2em',
                        allowEscapeKey: false,
                    })
                });
            @TempData.Remove("Message");
        </script>
    }
    @if (TempData["errormessage"] != null)
    {
        if (TempData.Count > 0)
        {
            <script>
            var msg = '@TempData["errormessage"]';
                $(document).ready(function()
                    {
                    new swal({
                        html: "<span style='color:black !important'>"+msg+"<span>",
                        type: "warning",
                        padding: '2em',
                        allowEscapeKey: false,
                    })
                });
            @TempData.Remove("errormessage");
            </script>
        }

    }
    @*end sweet alert popup*@

    <script>
        function Validate(form, event, text_ = "@Resources.Resource.Save") {
            event.preventDefault();
            const swalWithBootstrapButtons = swal.mixin({
                confirmButtonClass: 'btn btn-success btn-rounded',
                cancelButtonClass: 'btn btn-danger btn-rounded mr-3',
                buttonsStyling: false,
            })

            swalWithBootstrapButtons({
                title: '@Resources.Resource.AreYouSure',
                text: text_,
                type: 'question',
                showCancelButton: true,
                confirmButtonText: '@Resources.Resource.Yes',
                cancelButtonText: '@Resources.Resource.No',
                reverseButtons: false,
                padding: '2em'
            }).then(function (result) {
                if (result.value) {
                    form.submit();
                } else {
                    return false;
                }
            })
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>