@using System.Configuration
@using ePerhilitanV2.Infrastructures.Services;

@{
    var _service = new AccountService();
    var routeData = ViewContext.RouteData.Values["controller"].ToString();
    var url = ViewContext.RouteData.Values["Controller"].ToString().ToLower() + '/' + ViewContext.RouteData.Values["Action"].ToString().ToLower();
    var isStaff = _service.isStaff(Convert.ToInt32(User.Identity.Name));

    var Roles = _service.getRole(Convert.ToInt32(User.Identity.Name));
}

<style>

    .sub-header-container .navbar {
        border-bottom: 5px solid #096d49;
        /* background-image: linear-gradient(to right, #ee8e2885, #f58e21);*/
        /* background-image: linear-gradient(to right,#f09819,#096d49b0);*/
    }

    .icon-container {
        display: flex;
        align-items: center;
    }

        .icon-container i {
            margin-right: 5px; /* Adjust the spacing between the icon and word as needed */
        }

        .icon-container span {
            display: block;
        }

</style>
<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

    <nav id="sidebar">
        <div class="shadow-bottom"></div>

        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu">
                <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <div class="icon-container">
                        <i data-feather="home"></i>
                        <span>Dashboard</span>
                    </div>
                    <div>
                        <i data-feather="chevron-right"></i>
                    </div>
                </a>
                <ul class="collapse submenu list-unstyled" id="dashboard" data-parent="#accordionExample">
                    <li>
                        <a href="@Url.Action("Index", "Dashboard")"> @Resources.Resource.HOME_Dashboard </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sample1", "Dashboard")"> Icon and Button </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sample2", "Dashboard")"> @Resources.Resource.HOME_Forms </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sample3", "Dashboard")"> Datatable </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListAjax", "Datatable")"> Datatable Ajax</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListAjax2", "Datatable")"> Datatable Ajax 2</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sample5", "Dashboard")"> @Resources.Resource.HOME_Application </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sample6", "Dashboard")"> @Resources.Resource.HOME_Searching </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sample7", "Dashboard")"> @Resources.Resource.HOME_Laporan </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LamanUrusNiaga", "Dashboard")"> @Resources.Financial.LUN </a>
                    </li>
                </ul>
            </li>
            <!-- Applications SideMenu -->
            <li class="menu">
                <a href="@Url.Action("Applications", "Profile")" data-active="true" aria-expanded="true" class="dropdown-toggle">
                    <div class="icon-container">
                        <i data-feather="clipboard"></i>
                        <span>@Resources.Resource.HOME_Application_Individual</span>
                    </div>
                </a>
            </li>
            @if (Roles.Contains(7) || Roles.Contains(1)) //admin role dan kaunter shja
            {
                <li class="menu">
                    <a href="#app" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="icon-container">
                            <i data-feather="grid"></i>
                            <span>@Resources.Resource.HOME_Application_Counter</span>
                        </div>
                        <div>
                            <i data-feather="chevron-right"></i>
                        </div>
                    </a>

                    <ul class="collapse submenu list-unstyled" id="app" data-parent="#accordionExample">
                        <li>
                            <a href="#appLesen" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>@Resources.License.LES_Lesen</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="appLesen" data-parent="#app">
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 1})"> @Resources.License.LES_PermohonanMemburuMengambil </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 2})"> @Resources.License.LES_PermohonanMenyimpan </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 3})"> @Resources.License.LES_PermohonanPeniagaTaksidermi </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 4})"> @Resources.License.LES_PermohonanImportExport </a>
                                </li>
                            </ul>

                        </li>

                        <li>
                            <a href="#permit" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>Permit</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="permit" data-parent="#app">
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 5})">Penyelidikan Komersial</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 6})">Penyelidikan Akademik</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 7})">Permohonan Pengendalian Zoo</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 8})">Permohonan PembiakBakaan</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 9})">Permohonan Pameran Tetap</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 10})">Permohonan Pameran Bergerak</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SenaraiPermohonanPenyelidikanKomersial", "Permit")">Senarai</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="#permitkhas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>Permit Khas</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="permitkhas" data-parent="#app">
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 11})">Memburu / Mengambil</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 12})">Menyimpan</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 13})">Mengguna</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 14})">Penyelidikan/Kajian</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 15})">Import</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {type = 16})">Eksport</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SemakanPermohonan", "Profile", new {typed = 17})">Eksport Semula</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            }


            <!-- Management SideMenu -->
            @if (Roles.Contains(7)) //admin role dan kaunter shja
            {
                <li class="menu">
                    <a href="#management" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="icon-container">
                            <i data-feather="settings"></i>
                            <span>@Resources.Management.MGM_Management</span>
                        </div>
                        <div>
                            <i data-feather="chevron-right"></i>
                        </div>
                    </a>

                    <ul class="collapse submenu list-unstyled" id="management" data-parent="#accordionExample">
                        <li>
                            <a href="#managementDashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>CMS</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="managementDashboard" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("AuditLog", "ManagementHome")"> Audit Log</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Announcement", "ManagementHome")"> @Resources.Resource.HOME_Announcement </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ContactUs", "ManagementHome")"> @Resources.Resource.HOME_ContactUs </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#managementPengguna" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>@Resources.Management.MGM_User</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="managementPengguna" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("PenggunaSenarai", "Management")"> @Resources.Management.MGM_UserList</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PenggunaLesen", "Management")"> @Resources.Management.MGM_UserListLicense </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListPassportExpired", "Profile")"> @Resources.Profile.List_Passport_Expired </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ListPassportNoDate", "Profile")"> @Resources.Profile.List_Passport_NotUpdate </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#managementSpesies" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>@Resources.Management.MGM_Species</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="managementSpesies" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("Spesies", "Management")"> @Resources.Management.MGM_AnimalList</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SpesiesFi", "Management")"> @Resources.Management.MGM_FiSpecies </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#managementNegeri" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>@Resources.Management.MGM_State</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="managementNegeri" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("NegeriPTJPK", "Management")"> PTJ/PK </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("NegeriPoskod", "Management")"> @Resources.Management.MGM_Postcode </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#managementAkaun" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>@Resources.Management.MGM_Account</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="managementAkaun" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("AkaunBank", "Management")"> Bank </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AkaunKodOSOL", "Management")"> @Resources.Management.MGM_osol </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="collapse submenu list-unstyled" id="management" data-parent="#accordionExample">
                        <li>
                            <a href="#managementLesen" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>@Resources.Management.MGM_DataLesen</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                        <li class="collapse submenu list-unstyled" id="managementLesen" data-parent="#management">
                            <a href="#managementLesenMore3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>Serahan Lesen</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled" id="managementLesenMore3" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("LesenSerahanCmp", "Management")">@Resources.Management.MGM_CmpList</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LesenSerahanIndv", "Management")">@Resources.Management.MGM_IndvList</a>
                                </li>
                            </ul>

                        </li>

                        <li class="collapse submenu list-unstyled" id="managementLesen" data-parent="#management">
                            <a href="#managementLesenMore" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>@Resources.Management.MGM_CancelSuspend</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled" id="managementLesenMore" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("LesenCompany", "Management")">@Resources.Management.MGM_CmpList</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LesenIndividual", "Management")">@Resources.Management.MGM_IndvList</a>
                                </li>
                            </ul>

                        </li>

                        <li class="collapse submenu list-unstyled" id="managementLesen" data-parent="#management">
                            <a href="#managementLesenMore2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>Lesen Aktif</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled" id="managementLesenMore2" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("LesenAktifCmp", "Management")">@Resources.Management.MGM_CmpList</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LesenAktifIndv", "Management")">@Resources.Management.MGM_IndvList</a>
                                </li>
                            </ul>

                        </li>

                    </li>
                    </ul>

                    <ul class="collapse submenu list-unstyled" id="management" data-parent="#accordionExample">
                        <li>
                            <a href="#managementData" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>Data</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled" id="managementData" data-parent="#management">
                                <li>
                                    <a href="@Url.Action("DataCorrection", "Management")">@Resources.Management.MGM_LicenseCorrection</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("CancelLicense", "Management")">@Resources.Management.MGM_LicenseCancel</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
            }
            <!-- End Management SideMnue -->
            <!-- START VERIFICATION AND VALIDATION SIDE MENU -->
            @if (Roles.Contains(7) || Roles.Contains(10) || Roles.Contains(12)) //admin , penyemak , pengesah pintu masuk
            {
                <li class="menu">
                    <a href="#semakan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="icon-container">
                            <i data-feather="book"></i>
                            <span>@Resources.Verification.VV_Verification</span>
                        </div>
                        <div>
                            <i data-feather="chevron-right"></i>
                        </div>
                    </a>

                    <ul class="collapse submenu list-unstyled" id="semakan" data-parent="#accordionExample">
                        <li>
                            <a href="@Url.Action("CariSemakanSpesis", "Pengesahan")"> @Resources.Verification.VV_SearchSpeciesReview </a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("MaklumatCarian", "Pengesahan")"> @Resources.Verification.VV_ViewLicenseInfo </a>
                        </li>*@
                        <li>
                            <a href="@Url.Action("SemakMaklumatPemohon2", "Pengesahan")"> @Resources.Verification.VV_Review </a>
                        </li>
                        @*<li>
                        <a href="@Url.Action("EditMaklumat", "Pengesahan")"> @Resources.Verification.VV_Edit</a>
                    </li>*@
                        @*<li>
                            <a href="#senaraiSemakan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div>
                                    <span>@Resources.Verification.VV_List</span>
                                </div>
                                <div>
                                    <i data-feather="chevron-right"></i>
                                </div>
                            </a>

                            <ul class="collapse submenu list-unstyled sidebar-thirdlayer" id="senaraiSemakan" data-parent="#semakan">
                                <li>
                                    <a href="@Url.Action("SenaraiPermohonanDisahkan", "Pengesahan")"> @Resources.Verification.VV_ListVerifiedApplication </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SenaraiPermohonanDisemakSemula", "Pengesahan")"> @Resources.Verification.VV_RevisedApplicationList </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SenaraiPermohonanTidakSah", "Pengesahan")"> @Resources.Verification.VV_InvalidApplicationList </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SenaraiPermohonanTelahDisemak", "Pengesahan")"> @Resources.Verification.VV_ApplicationCheckedList </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SenaraiPermohonanSelesai", "Pengesahan")"> @Resources.Verification.VV_CompleteApplicationList </a>
                                </li>
                            </ul>
                        </li>*@
                    </ul>
                </li>
            }

            <!-- END VERIFICATION AND VALIDATION SIDE MENU -->

        </ul>

    </nav>

</div>
<!--  END SIDEBAR  -->