@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.StatusLesen

@{
    var LicenseType = ViewBag.LicenseType;

}

<style>
    .form-control-file {
        color: black;
    }

    .text-blue-dwd {
        color: blue;
    }

    .form-control-file::-webkit-file-upload-button {
        background-color: #096d49;
    }

    .uppercase {
        text-transform: uppercase;
    }
</style>

@Html.HiddenFor(model => model.LesenID)
<input type="hidden" id="activeTabIndex" name="activeTabIndex" />

<!-- START STATUS -->
<div class="tab-pane @(Model.ActiveTabIndex == 2 ? "show active" : "")" id="status" role="tabpanel" aria-labelledby="status-tab">
    <div class="form-card" style="padding: 20px 0 0 20px">
        <div class="col-sm-12 text-right">
            <input type="submit" name="next" class="btn btn-success mb-4 mr-2 btn-md SubmitBtn" value="@Resources.Resource._Submit" onclick="rememberActiveTab()" />
        </div>
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification._StatusPemilik</label>
            <div class="col-sm-6">
                @Html.DropDownListFor(model => model.StatusPemilik, new SelectList(Model.ListStatusPemilik, "Value", "Text"), @Resources.Verification.PleaseChoose, new { @class = "form-control form-control-sm", @id = "" })

                @Html.ValidationMessageFor(model => model.StatusPemilik, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-card" style="padding: 20px 0 0 20px">
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification._StatusLesen</label>
            <div class="col-sm-6">
                @*@Html.EditorFor(model => model.StatusLesenSemakan, new { htmlAttributes = new { @class = "form-control form-control-sm uppercase" } })*@
                @Html.DropDownListFor(model => model.StatusLesenSemakan, new SelectList(Model.ListStatusLesen, "Value", "Text"), @Resources.Verification.PleaseChoose, new { @class = "form-control form-control-sm", @id = "statusLesen" })
                @Html.ValidationMessageFor(model => model.StatusLesenSemakan, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-card" style="padding: 20px 0 0 20px; display: none;" id="lampiran1">
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification._LampiranLesenDibatal</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.LampiranDibatal, new { type = "file", @class = "form-control-file text-right lampiran", @id = "" })
                @*@Html.ValidationMessageFor(model => model.Lampiran, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>
    <div class="form-card" style="padding: 20px 0 0 20px; display: none;" id="lampiran2">
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification._LampiranLesenDigantung</label>
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.LampiranDigantung, new { type = "file", @class = "form-control-file text-right lampiran", @id = "" })
                @Html.ValidationMessageFor(model => model.LampiranDigantung, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-card" style="padding: 20px 0 0 20px">
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification._DateAction</label>
            <div class="col-sm-6">
                @Html.EditorFor(model => model.TarikhTindakan, new { htmlAttributes = new { @class = "form-control form-control-sm text-black", @id = "date" } })

                @Html.ValidationMessageFor(model => model.TarikhTindakan, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-card" style="padding: 20px 0 0 20px">
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Verification.VV_Notes</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.Catatan, new { @class = "form-control form-control-sm uppercase", rows = "2", @maxlength = "150" })
            </div>

        </div>
    </div>
</div>
<!-- END STATUS -->
