@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.ImportExport
@using ePerhilitanV2.Infrastructures.Services;

@{
    var _accountService = new AccountService();
    var Role = _accountService.getRole(Model.User_Id);
}
<style>
    .text-black {
        color: black;
    }
</style>

<fieldset>
   
    <div class="form-card">

        @if (Model.Pegawai_Penyemak != null && Model.User_Id.ToString() != Model.Pegawai_Penyemak)    //dah ada orang semak dan org lain yg semak
        {
            <div class="form-group row">
                <div class="col-sm-12 text-right">
                    @*<input type="submit" name="next" class="btn btn-warning mb-4 mr-2 btn-md NextBtn" value="Seterusnya" />*@
                    <a href="@Url.Action("EditMaklumat", "Pengesahan",new {Page = GlobalFunction.encodeThis(@ViewBag.NextPage.ToString()), id = GlobalFunction.encodeThis(Model.License_Id.ToString())})" class="btn btn-warning mb-4 mr-2 btn-md">@Resources.Resource._Next</a>
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq ">@Resources.Verification.VV_CITES_No</label>
                <div class="col-sm-9 text-black">
                    @Model.Cites_No
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Resource._PermitType</label>
                <div class="col-sm-9">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoTypePermit"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @Html.DropDownListFor(model => model.Jenis_Permit, new SelectList(Model.SelectJenisPermit, "Value", "Text"), @Resources.Verification.PleaseChoose, new { @class = "form-control form-control-sm text-black", @id = "", @disabled = "disabled" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Jenis_Permit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification.VV_ValidUntil</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoValidPermit"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @*<input type="text" class="form-control form-control-sm text-black" name="Sah_Sehingga" id="date" placeholder="" value="@Model.Sah_Sehingga">*@
                        @Html.EditorFor(model => model.Sah_Sehingga, new { htmlAttributes = new { @class = "form-control form-control-sm text-black", @id = "date", @disabled = "disabled" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Sah_Sehingga, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        
        else  //belum ada orang semak
        {
            <div class="form-group row">
                <div class="col-sm-12 text-right">
                    <input type="submit" name="next" class="btn btn-dark mb-4 mr-2 btn-md SaveButtonVal" value="@Resources.License.LES_Save" />
                    <input type="submit" name="next" class="btn btn-warning mb-4 mr-2 btn-md SaveNextBtn" value="@Resources.License.LES_SaveNext" />
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq ">@Resources.Verification.VV_CITES_No</label>
                <div class="col-sm-9 text-black">
                    @Model.Cites_No
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Resource._PermitType</label>
                <div class="col-sm-9">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoTypePermit"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @Html.DropDownListFor(model => model.Jenis_Permit, new SelectList(Model.SelectJenisPermit, "Value", "Text"), @Resources.Verification.PleaseChoose, new { @class = "form-control form-control-sm ", @id = "" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Jenis_Permit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification.VV_ValidUntil</label>
                <div class="col-sm-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoValidPermit"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @*<input type="text" class="form-control form-control-sm text-black" name="Sah_Sehingga" id="date" placeholder="" value="@Model.Sah_Sehingga">*@
                        @Html.EditorFor(model => model.Sah_Sehingga, new { htmlAttributes = new { @class = "form-control form-control-sm text-black", @id = "date" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Sah_Sehingga, "", new { @class = "text-danger" })
                </div>
            </div>
        }


    </div>
    <hr />
</fieldset>

