@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.ImportExport

<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>

<fieldset>
    <div class="form-group row">
        <div class="col-sm-12 text-right">
            <input type="submit" name="next" class="btn btn-dark mb-4 mr-2 btn-md SaveButtonVal" value="@Resources.License.LES_Save" />
            <input type="submit" name="next" class="btn btn-warning mb-4 mr-2 btn-md SaveNextBtn" value="@Resources.License.LES_SaveNext" />
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mb-4" id="">
                <thead>
                    <tr class="thead-light">
                        <th class="text-center" colspan="8">@Resources.Verification.VV_QuantityChecking</th>
                    </tr>
                    <tr class="thead-light">
                        <th class="text-center" width="25%">@Resources.Verification.VV_Species</th>
                        <th class="text-center" width="10%">@Resources.Verification.VV_Appendix</th>
                        <th class="text-center" width="10%">@Resources.Verification.VV_Source</th>
                        <th class="text-center" width="25%">@Resources.Verification.VV_ApprovedQuantity</th>
                        <th class="text-center" width="30%">@Resources.Verification.VV_QuantityConfirmed</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.getSpeciesList.Count; i++)
                    {
                        var species = Model.getSpeciesList[i];
                        var speciesId = species.Spesis_Id;
                        var id = species.Main_Spesis_Id;
                        <tr>
                            @Html.HiddenFor(model => model.getSpeciesList[i].Spesis_Id)
                            @Html.HiddenFor(model => model.getSpeciesList[i].Main_Spesis_Id)
                            @Html.HiddenFor(model => model.getSpeciesList[i].Specimen)

                            <td width="25%">@species.Spesis_Name_Scientific.ToUpper() </td>
                            <td class="text-center" width="15%">
                                @Html.DropDownListFor(model => model.MainAppendix, new SelectList(Model.SelectAppendix, "Value", "Text"), @Resources.Verification.PleaseChoose, new { @class = "form-control form-control-sm MainAppendiks", @id = "appendiks_" + speciesId, data_species_id = speciesId })
                                @Html.ValidationMessageFor(model => model.MainAppendix, "", new { @class = "text-danger" })
                            </td>
                            <td class="text-center" width="15%">
                                @Html.DropDownListFor(model => model.MainSource, new SelectList(Model.SelectSource, "Value", "Text"), @Resources.Verification.PleaseChoose, new { @class = "form-control form-control-sm MainSumber", @id = "Source" + speciesId, data_species_id = speciesId })
                                @Html.ValidationMessageFor(model => model.MainSource, "", new { @class = "text-danger" })
                            </td>

                            @if (species.Specimen == "Hidup")
                            {
                                //to find the spesis id of each count
                                var matchingSpecies = Model.getTotalQuantityHidup.FirstOrDefault(s => s.Spesis_Id == speciesId);
                                <td class="text-center quantity"  data-species-id=@speciesId>@(matchingSpecies != null ? matchingSpecies.Quantity : "0")</td>
                                
                                <td class="text-center" width="25%">
                                    @*<input type="text" name="Spesis_Quantity_Disahkan" class="form-control form-control-sm qtySah" value="@(confirmedQty != null ? confirmedQty.Spesis_Quantity_Disahkan : 0)" id="kuantitiDisahkan" placeholder="" data-species-id="@species.Spesis_Id">*@
                                    @Html.TextBoxFor(model => model.getSpeciesList[i].Spesis_Quantity_Disahkan, new { @class = "form-control form-control-sm qtySah", @id = "kuantitiDisahkan", @placeholder = "", data_species_id = speciesId })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.getSpeciesList[i].Spesis_Quantity_Disahkan, "", new { @class = "text-danger" })
                                </td>
                            }
                            else if (species.Specimen == "Produk" || species.Specimen == "Trofi")
                            {
                                <td class="text-center quantity" data-species-id=@speciesId>@species.Quantity.Split('|')[0]</td>
                                <td class="text-center" width="25%">
                                    @*<input type="text" name="Spesis_Quantity_Disahkan1" class="form-control form-control-sm qtySah" value="@species.Spesis_Quantity_Disahkan" placeholder="" data-species-id="@species.Spesis_Id">*@
                                    @Html.TextBoxFor(model => model.getSpeciesList[i].Spesis_Quantity_Disahkan, new { @class = "form-control form-control-sm qtySah", @id = "kuantitiDisahkan", @placeholder = "", data_species_id = speciesId })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.getSpeciesList[i].Spesis_Quantity_Disahkan, "", new { @class = "text-danger" })
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
            <br />
            @if (Model.License_Type == "Import" || Model.License_Type == "Eksport")
            {
                if (Model.getSpeciesDetails.Specimen == "Hidup")
                {
                    <table class="table table-bordered table-hover mb-4" id="speciesHidup">
                        <thead>
                            <tr class="thead-light">
                                <th></th>
                                <th>@Resources.Verification.VV_No</th>
                                <th class="text-center">@Resources.Verification.VV_Species /@Resources.Verification.VV_Gender</th>
                                <th class="text-center">@Resources.Verification.VV_Appendix</th>
                                <th class="text-center">@Resources.Verification.VV_Source</th>
                                <th class="text-center">@Resources.Verification.VV_NoPenandaan @Resources.Verification.VV_No_Approved</th>
                                <th class="text-center">@Resources.Verification.VV_NoPenandaan @Resources.Verification.VV_No_Confirmed</th>
                                <th class="text-center">@Resources.Verification.VV_Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var no = 1;}

                            @for (int j = 0; j < Model.getTotalSpeciesList.Count; j++)
                            {
                                var s = Model.getTotalSpeciesList[j];
                                var spesisID = s.Spesis_Id;    //spesis ID
                                <tr>
                                    <td width="3%">
                                        @Html.HiddenFor(model => model.getTotalSpeciesList[j].Main_Spesis_Id)
                                        @Html.HiddenFor(model => model.getTotalSpeciesList[j].Spesis_Id)
                                        @Html.HiddenFor(model => model.getTotalSpeciesList[j].Specimen)
                                        @*@Html.CheckBoxFor(model => model.getTotalSpeciesList[j].IsSelected, new { @class = "checkBoxQty", id = "checkBox_" + s.Main_Spesis_Id, data_species_id = spesisID, @checked = Model.getTotalSpeciesList[j].IsSelected })*@
                                        @Html.CheckBoxFor(model => model.getTotalSpeciesList[j].IsSelected, new { @class = "checkBoxQty", id = "checkBox_" + s.Main_Spesis_Id, data_species_id = spesisID })
                                    </td>
                                    <td width="2%">@no</td>
                                    <td width="25%"><span> @s.Spesis_Name_Scientific.ToUpper() </span> /@s.Gender</td>
                                    <td class="text-center" width="10%">
                                        @*<input type="text" id="" class="form-control form-control-sm newAppendiks text-black" value="@s.Appendix" placeholder="e.g : I" data-species-id="@spesisId">*@
                                        @*@Html.TextBoxFor(model => model.getSpeciesList[j].Appendix, new { @class = "form-control form-control-sm newAppendiks", data_species_id = spesisId })*@
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Appendix, new { htmlAttributes = new { @class = "form-control form-control-sm newAppendiks", data_species_id = spesisID } })

                                    </td>
                                    <td class="text-center" width="10%">

                                        @*<input type="text" id="" class="form-control form-control-sm newSumber text-black" value="@s.Source" placeholder="e.g : W" data-species-id="@spesisId">*@
                                        @*@Html.TextBoxFor(model => model.getSpeciesList[j].Source, new { @class = "form-control form-control-sm newSumber", data_species_id = spesisId })*@
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Source, new { htmlAttributes = new { @class = "form-control form-control-sm newSumber", data_species_id = spesisID } })

                                    </td>
                                    <td width="10%" class="text-center">
                                        -
                                    </td>
                                    <td class="text-center" width="20%">
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].No_Penandaan_Disahkan, new { htmlAttributes = new { @class = "form-control form-control-sm ", data_species_id = spesisID } })
                                        @*@Html.TextBoxFor(model => model.getSpeciesList[j].Appendix, new { @class = "form-control form-control-sm newAppendiks", data_species_id = spesisId })*@
                                    </td>
                                    <td class="text-center" width="20%">
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Catatan, new { htmlAttributes = new { @class = "form-control form-control-sm uppercase", data_species_id = spesisID } })
                                    </td>
                                </tr>
                                no++;
                            }

                        </tbody>
                    </table>
                }
                else       //if specimen is Produk/Trofi
                {
                    <table class="table table-bordered table-hover mb-4" id="produkTrofi">
                        <thead>
                            <tr class="thead-light">
                                <th class="text-center">@Resources.Verification.VV_No</th>
                                <th class="text-center">@Resources.Verification.VV_Species</th>
                                <th class="text-center">@Resources.Verification.VV_Appendix</th>
                                <th class="text-center">@Resources.Verification.VV_Source</th>
                                <th class="text-center">@Resources.Verification.VV_Quantity</th>
                                <th class="text-center">@Resources.Verification.VV_Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var no = 1;}
                            @for (int j = 0; j < Model.getTotalSpeciesList.Count; j++)
                            {
                                var species = Model.getSpeciesList[j];
                                var speciesId = species.Spesis_Id;
                                @*@foreach (var species in Model.getSpeciesList)
                                    {*@
                                //var speciesId = @species.Spesis_Id;
                                <tr>
                                    @Html.HiddenFor(model => model.getTotalSpeciesList[j].Main_Spesis_Id)
                                    @Html.HiddenFor(model => model.getTotalSpeciesList[j].Spesis_Id)
                                    <td class="text-center" width="2%">@no</td>
                                    <td width="28%">@species.Spesis_Name_Scientific.ToUpper() </td>
                                    <td class="text-center" width="15%">
                                        @*<input type="text" id="" name="Appendix" class="form-control form-control-sm newAppendiks text-black" value="@species.Appendix" placeholder="" data-species-id="@species.Spesis_Id">*@
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Appendix, new { htmlAttributes = new { @class = "form-control form-control-sm newAppendiks", data_species_id = speciesId } })
                                    </td>
                                    <td class="text-center" width="15%">
                                        @*<input type="text" id="" name="Source" class="form-control form-control-sm newSumber text-black" value="@species.Source" placeholder="" data-species-id="@species.Spesis_Id">*@
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Source, new { htmlAttributes = new { @class = "form-control form-control-sm newSumber", data_species_id = speciesId } })
                                    </td>
                                    <td class="text-center">
                                        @species.Quantity.Split('|')[0] @species.Quantity.Split('|')[1]
                                    </td>
                                    <td class="text-center">
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Catatan, new { htmlAttributes = new { @class = "form-control form-control-sm uppercase" } })
                                    </td>
                                </tr>
                                no++;
                            }
                        </tbody>
                    </table>
                }
            }

            else if (Model.License_Type == "Eksport Semula")
            {
                if (Model.getSpeciesDetails.Specimen == "Hidup")
                {
                    <table class="table table-bordered table-hover mb-4" id="speciesHidup">
                        <thead>
                            <tr class="thead-light">
                                <th></th>
                                <th>@Resources.Verification.VV_No</th>
                                <th>@Resources.Verification.VV_Species /@Resources.Verification.VV_Gender</th>
                                <th class="text-center">@Resources.Verification.VV_Appendix</th>
                                <th class="text-center">@Resources.Verification.VV_Source</th>
                                <th class="text-center">@Resources.Verification.VV_NoPenandaan @Resources.Verification.VV_No_Approved</th>
                                <th class="text-center">@Resources.Verification.VV_NoPenandaan @Resources.Verification.VV_No_Confirmed</th>
                                <th class="text-center">@Resources.Verification.VV_Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var no = 1;}
                            @for (int j = 0; j < Model.getTotalSpeciesList.Count; j++)
                            {
                                var s = Model.getTotalSpeciesList[j];
                                var spesisID = s.Spesis_Id;    //spesis ID
                                <tr>
                                    <td width="3%">
                                        @Html.HiddenFor(model => model.getTotalSpeciesList[j].Main_Spesis_Id)
                                        @Html.HiddenFor(model => model.getTotalSpeciesList[j].Spesis_Id)
                                        @Html.HiddenFor(model => model.getTotalSpeciesList[j].Specimen)
                                        @Html.CheckBoxFor(model => model.getTotalSpeciesList[j].IsSelected, new { @class = "checkBoxQty", id = "checkBox_" + s.Main_Spesis_Id, data_species_id = spesisID, @checked = Model.getTotalSpeciesList[j].Spesis_Quantity_Disahkan > 0 })
                                        @*<input type="checkbox" @checked="@Model.getTotalSpeciesList[j].Spesis_Quantity_Disahkan > 0" />*@
                                    </td>
                                    <td width="2%">@no</td>
                                    <td width="25%"><span> @s.Spesis_Name_Scientific</span> /@s.Gender</td>
                                    <td class="text-center" width="10%">
                                        @*<input type="text" id="" class="form-control form-control-sm newAppendiks text-black" value="@s.Appendix" placeholder="e.g : I" data-species-id="@spesisId">*@
                                        @*@Html.TextBoxFor(model => model.getSpeciesList[j].Appendix, new { @class = "form-control form-control-sm newAppendiks", data_species_id = spesisId })*@
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Appendix, new { htmlAttributes = new { @class = "form-control form-control-sm newAppendiks", data_species_id = spesisID } })

                                    </td>
                                    <td class="text-center" width="10%">

                                        @*<input type="text" id="" class="form-control form-control-sm newSumber text-black" value="@s.Source" placeholder="e.g : W" data-species-id="@spesisId">*@
                                        @*@Html.TextBoxFor(model => model.getSpeciesList[j].Source, new { @class = "form-control form-control-sm newSumber", data_species_id = spesisId })*@
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Source, new { htmlAttributes = new { @class = "form-control form-control-sm newSumber", data_species_id = spesisID } })

                                    </td>
                                    <td width="10%" class="text-center">
                                        -
                                    </td>
                                    <td class="text-center" width="20%">
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].No_Penandaan_Disahkan, new { htmlAttributes = new { @class = "form-control form-control-sm ", data_species_id = spesisID } })
                                        @*@Html.TextBoxFor(model => model.getSpeciesList[j].Appendix, new { @class = "form-control form-control-sm newAppendiks", data_species_id = spesisId })*@
                                    </td>
                                    <td class="text-center" width="20%">
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Catatan, new { htmlAttributes = new { @class = "form-control form-control-sm ", data_species_id = spesisID } })
                                    </td>
                                </tr>
                                no++;
                            }

                        </tbody>
                    </table>
                }
                else
                {
                    @*table re-export*@
                    <table class="table table-bordered table-hover mb-4" id="produkTrofi">
                        <thead>
                            <tr class="thead-light">
                                <th class="text-center">@Resources.Verification.VV_No</th>
                                <th class="text-center">@Resources.Verification.VV_Species</th>
                                <th class="text-center">@Resources.Verification.VV_Appendix</th>
                                <th class="text-center">@Resources.Verification.VV_Source</th>
                                <th class="text-center">@Resources.Verification.VV_Quantity</th>
                                <th class="text-center">@Resources.Verification.VV_No_CR</th>
                                <th class="text-center">@Resources.Verification.VV_Original_Cites_No</th>
                                <th class="text-center">@Resources.Verification.VV_Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var no = 1;}
                            @for (int j = 0; j < Model.getTotalSpeciesList.Count; j++)
                            {
                                var species = Model.getSpeciesList[j];
                                var speciesId = species.Spesis_Id;
                                @*@foreach (var species in Model.getSpeciesList)
                                    {*@
                                //var speciesId = @species.Spesis_Id;
                                <tr>
                                    @Html.HiddenFor(model => model.getTotalSpeciesList[j].Main_Spesis_Id)
                                    @Html.HiddenFor(model => model.getTotalSpeciesList[j].Spesis_Id)
                                    <td class="text-center" width="2%">@no</td>
                                    <td width="28%">@species.Spesis_Name_Scientific.ToUpper() </td>
                                    <td class="text-center">
                                        @*<input type="text" id="" name="Appendix" class="form-control form-control-sm newAppendiks text-black" value="@species.Appendix" placeholder="" data-species-id="@species.Spesis_Id">*@
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Appendix, new { htmlAttributes = new { @class = "form-control form-control-sm newAppendiks", data_species_id = speciesId } })
                                    </td>
                                    <td class="text-center">
                                        @*<input type="text" id="" name="Source" class="form-control form-control-sm newSumber text-black" value="@species.Source" placeholder="" data-species-id="@species.Spesis_Id">*@
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Source, new { htmlAttributes = new { @class = "form-control form-control-sm newSumber", data_species_id = speciesId } })
                                    </td>
                                    <td class="text-center">
                                        @species.Quantity.Split('|')[0] @species.Quantity.Split('|')[1]
                                    </td>
                                    <td class="text-center" width="15%">
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].No_CR, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </td>
                                    <td class="text-center" width="15%">
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Original_CitesNo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    </td>
                                    <td class="text-center">
                                        @Html.EditorFor(model => model.getTotalSpeciesList[j].Catatan, new { htmlAttributes = new { @class = "form-control form-control-sm uppercase" } })
                                    </td>
                                </tr>
                                no++;
                            }
                        </tbody>
                    </table>
                }

            }
        </div>
    </div>
    <hr />
</fieldset>

