@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.ImportExport
@using ePerhilitanV2.Infrastructures.Services;

@{
    var _accountService = new AccountService();
    var Role = _accountService.getRole(Model.User_Id);
}

<style>
    .text-black {
        color: black;
    }

    .uppercase {
        text-transform: uppercase;
    }
</style>

<fieldset>

    <div class="form-card">

        @if (Model.Pegawai_Penyemak != null && Model.User_Id.ToString() != Model.Pegawai_Penyemak)    //dah ada orang semak -org lain
        {
            <div class="form-group row">
                <div class="col-sm-12 text-right">
                   <a href="@Url.Action("EditMaklumat", "Pengesahan",new {Page = GlobalFunction.encodeThis(@ViewBag.NextPage.ToString()), id = GlobalFunction.encodeThis(Model.License_Id.ToString())})" class="btn btn-warning mb-4 mr-2 btn-md">@Resources.Resource._Next</a>
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification.VV_Inspection_Name </label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoNameInspectionOfficer"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @Html.EditorFor(model => model.Nama_Pemeriksa, new { htmlAttributes = new { @class = "form-control form-control-sm uppercase text-black ", @disabled = "disabled" } })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Nama_Pemeriksa, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification.VV_Inspection_Location </label>
                <div class="col-sm-9">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoLocationInspection"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @Html.DropDownListFor(model => model.Lokasi_Pemeriksaan, new SelectList(Model.getListImportExportCenter, "Value", "Text"), @Resources.Verification.PleaseChoose, new { @class = "form-control form-control-sm text-black", @disabled = "disabled" })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Lokasi_Pemeriksaan, "", new { @class = "text-danger" })*@

                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification.VV_Date_Time_Inspection </label>
                <div class="col-sm-6">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoDateTimeInspection"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @*<input type="text" name="Tarikh_MasaSemakan" class="form-control form-control-sm text-black" id="dateTime" value="@Model.Tarikh_MasaSemakan" placeholder="">*@
                        @Html.EditorFor(model => model.Tarikh_MasaSemakan, new { htmlAttributes = new { @class = "form-control form-control-sm text-black", @disabled = "disabled" } })
                    </div>
                    @*@Html.ValidationMessageFor(model => model.Tarikh_MasaSemakan, "", new { @class = "text-danger" })*@
                </div>
            </div>
        }
        else   //belum ada orang semak
        {
            <div class="form-group row">
                <div class="col-sm-12 text-right">
                    <input type="submit" name="next" class="btn btn-dark mb-4 mr-2 btn-md SaveButtonVal" value="@Resources.License.LES_Save" />
                    <input type="submit" name="next" class="btn btn-warning mb-4 mr-2 btn-md SaveNextBtn" value="@Resources.License.LES_SaveNext" />
                </div>
            </div>

            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification.VV_Inspection_Name </label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoNameInspectionOfficer"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @Html.EditorFor(model => model.Nama_Pemeriksa, new { htmlAttributes = new { @class = "form-control form-control-sm uppercase" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Nama_Pemeriksa, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification.VV_Inspection_Location </label>
                <div class="col-sm-9">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoLocationInspection"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @Html.DropDownListFor(model => model.Lokasi_Pemeriksaan, new SelectList(Model.getListImportExportCenter, "Value", "Text"), @Resources.Verification.PleaseChoose, new { @class = "form-control form-control-sm", @id = "" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Lokasi_Pemeriksaan, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm labelReq">@Resources.Verification.VV_Date_Time_Inspection </label>
                <div class="col-sm-6">
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><a href="#" class="rounded bs-tooltip" data-placement="left" title="@Resources.Verification.VV_InfoDateTimeInspection"><i class="feather-13" data-feather="info"></i></a></span>
                        </div>
                        @*<input type="text" name="Tarikh_MasaSemakan" class="form-control form-control-sm text-black" id="dateTime" value="@Model.Tarikh_MasaSemakan" placeholder="">*@
                        @Html.EditorFor(model => model.Tarikh_MasaSemakan, new { htmlAttributes = new { @class = "form-control form-control-sm text-black", @id = "dateTime" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Tarikh_MasaSemakan, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    </div>
    <hr />
</fieldset>

