@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.ImportExport

<div class="form-card" style="padding: 20px">
    <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mb-4" id="">
                <thead>
                    <tr class="thead-light">
                        <th class="text-center" colspan="9">@Resources.Verification.VV_QuantityChecking</th>
                    </tr>
                    <tr class="thead-light">
                        <th width="25%" class="text-center">@Resources.Verification.VV_Species</th>
                        <th width="10%">@Resources.Verification.VV_Appendix</th>
                        <th width="10%" class="text-center">@Resources.Verification.VV_Source</th>
                        <th width="25%" class="text-center">@Resources.Verification.VV_ApprovedQuantity</th>
                        <th width="30%" class="text-center">@Resources.Verification.VV_QuantityConfirmed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var species in Model.getSpeciesList)
                    {
                        <tr>
                            <td class="text-center">@species.Spesis_Name_Scientific.ToUpper()</td>
                            <td class="text-center">
                                @species.Appendix
                            </td>
                            <td class="text-center">
                                @species.Source
                            </td>

                            @if (species.Specimen == "Hidup")
                            {
                                //to find the spesis id of each count
                                var matchingSpecies = Model.getTotalQuantityHidup.FirstOrDefault(s => s.Spesis_Id == species.Spesis_Id);
                                <td class="text-center quantity" width="15%">@(matchingSpecies != null ? matchingSpecies.Quantity : "0")</td>
                                <td class="text-center" width="15%">
                                    @(matchingSpecies != null ? matchingSpecies.Spesis_Quantity_Disahkan : 0)
                                </td>


                            }
                            else if (species.Specimen == "Produk" || species.Specimen == "Trofi")
                            {
                                <td class="text-center" width="15%">@species.Quantity.Split('|')[0]</td>
                                <td class="text-center" width="15%">
                                    @species.Spesis_Quantity_Disahkan
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <br />



            @if (Model.License_Type == "Import" || Model.License_Type == "Eksport")
            {
                if (Model.getSpeciesDetails.Specimen == "Hidup")
                {
                    <table class="table table-bordered table-hover mb-4" id="speciesHidup">
                        <thead>
                            <tr class="thead-light">
                                <th class="text-center">@Resources.Verification.VV_No</th>
                                <th class="text-center">@Resources.Verification.VV_Species /@Resources.Verification.VV_Gender</th>
                                <th class="text-center">@Resources.Verification.VV_Appendix</th>
                                <th class="text-center">@Resources.Verification.VV_Source</th>
                                <th class="text-center">@Resources.Verification.VV_NoPenandaan @Resources.Verification.VV_No_Confirmed</th>
                                <th class="text-center">@Resources.Verification.VV_Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var no = 1;}
                            @foreach (var s in Model.getTotalSpeciesList)
                            {
                                <tr>
                                    <td width="2%" class="text-center">@no</td>
                                    <td width="25%" class="text-center"><span> @s.Spesis_Name_Scientific.ToUpper()</span> /@s.Gender</td>
                                    <td class="text-center" width="10%">
                                        @s.Appendix
                                    </td>
                                    <td class="text-center" width="10%">
                                        @s.Source
                                    </td>
                                    <td class="text-center" width="20%">
                                        @s.No_Penandaan_Disahkan
                                    </td>
                                    <td class="text-center" width="20%">
                                        @s.Catatan
                                    </td>
                                </tr>
                                no++;
                            }

                        </tbody>
                    </table>
                }
                else       //if specimen is Produk/Trofi
                {
                    <table class="table table-bordered table-hover mb-4" id="produkTrofi">
                        <thead>
                            <tr class="thead-light">
                                <th class="text-center">@Resources.Verification.VV_No</th>
                                <th class="text-center">@Resources.Verification.VV_Species</th>
                                <th class="text-center">@Resources.Verification.VV_Appendix</th>
                                <th class="text-center">@Resources.Verification.VV_Source</th>
                                <th class="text-center">@Resources.Verification.VV_Quantity</th>
                                <th class="text-center">@Resources.Verification.VV_Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var no = 1;}
                            @foreach (var species in Model.getSpeciesList)
                            {
                                <tr>
                                    <td class="text-center" width="2%">@no</td>
                                    <td width="28%" class="text-center">@species.Spesis_Name_Scientific.ToUpper()</td>
                                    <td class="text-center" width="15%">
                                        @species.Appendix
                                    </td>
                                    <td class="text-center" width="15%">
                                        @species.Source
                                    </td>
                                    <td class="text-center">@species.Quantity.Split('|')[0] @species.Quantity.Split('|')[1] </td>
                                    <td class="text-center">@species.Catatan</td>
                                </tr>
                                no++;
                            }
                        </tbody>
                    </table>
                }
            }
            else if (Model.License_Type == "Eksport Semula")
            {
                @*table re - export*@
                <table class="table table-bordered table-hover mb-4" id="export">
                    <thead>
                        <tr class="thead-light">
                            <th class="text-center">@Resources.Verification.VV_No</th>
                            <th class="text-center">@Resources.Verification.VV_Species</th>
                            <th class="text-center">@Resources.Verification.VV_Appendix</th>
                            <th class="text-center">@Resources.Verification.VV_Source</th>
                            <th class="text-center">@Resources.Verification.VV_Quantity</th>
                            <th class="text-center">@Resources.Verification.VV_No_CR</th>
                            <th class="text-center">@Resources.Verification.VV_Original_Cites_No</th>
                            <th class="text-center">@Resources.Verification.VV_Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var no = 1;}
                        @foreach (var species in Model.getSpeciesList)
                        {
                            <tr>
                                <td class="text-center" width="5%">@no</td>
                                <td width="25%">@species.Spesis_Name_Scientific.ToUpper()</td>
                                <td class="text-center" width="10%">
                                    @species.Appendix
                                </td>
                                <td class="text-center" width="10%">
                                    @species.Source
                                </td>
                                <td class="text-center">@species.Spesis_Quantity_Disahkan</td>
                                <td class="text-center" width="10%">
                                    @species.No_CR
                                </td>
                                <td class="text-center" width="10%">
                                    @species.Original_CitesNo
                                </td>
                                <td class="text-center">@species.Catatan</td>
                            </tr>
                            no++;
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>


