@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.StatusLesen

@{
    var LicenseType = ViewBag.LicenseType;

}

<style>
    .form-control-file {
        color: black;
    }

    .text-blue-dwd {
        color: blue;
    }

    .form-control-file::-webkit-file-upload-button {
        background-color: #096d49;
    }

    .uppercase {
        text-transform: uppercase;
    }
</style>

<div class="tab-pane fade @(Model.ActiveTabIndex == 0 ? "show active" : "")" id="lesen" role="tabpanel" aria-labelledby="lesen-tab">
    <div class="form-card" style="padding: 20px">
        <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
            <div class="table-responsive">
                <!-- START TABLE LESEN -->
                <table class="table table2 table-bordered mb-4">
                    <thead>
                        <tr class="thead-light">
                            <th colspan="8">@Resources.Resource._License</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Verification.VV_LicenseType</label>
                                    <div class="col-sm-9">
                                        @Model.NamaLesen.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        @if (LicenseType == 1)
                        {
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_SyaratMemburu</label>
                                        <div class="col-sm-9">
                                            @if (@Model.ViewSemakanLesenMemburuMengambil.SyaratMemburu == true)
                                            {
                                                @Resources.Verification._Ya
                                            }
                                            else
                                            {
                                                @Resources.Verification._No
                                            }

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_JenisSenjataApi</label>
                                        <div class="col-sm-9">
                                            @Model.ViewSemakanLesenMemburuMengambil.JenisSenjataApi
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_NamaNoPembuat</label>
                                        <div class="col-sm-9">
                                            @Model.ViewSemakanLesenMemburuMengambil.NamaPembuatdanNombor
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_TarikhBukuSenjataApi</label>
                                        <div class="col-sm-9">
                                            @Convert.ToDateTime(@Model.ViewSemakanLesenMemburuMengambil.TarikhBukuSenjataApi).ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-US"))
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_BukuNo</label>
                                        <div class="col-sm-9">
                                            @Model.ViewSemakanLesenMemburuMengambil.NoBuku
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_SiriNoBukuSenjataApi</label>
                                        <div class="col-sm-9">
                                            @Model.ViewSemakanLesenMemburuMengambil.NoSiriBuKuSenjataApi
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_DaerahLesen</label>
                                        <div class="col-sm-9">
                                            @Model.ViewSemakanLesenMemburuMengambil.Daerah
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- END TABLE LESEN -->
                <!-- START TABLE PEMILIK -->
                <table class="table table2 table-bordered table-hover mb-4 " id="">
                    <thead>
                        <tr class="thead-light">
                            <th colspan="8">@Resources.Verification.VV_Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Name</label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.NamaPemegang
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Ic_No</label>
                                    <div class="col-sm-4">
                                        @Model.GetOwnerDetails.IdNo
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!-- START TABLE PEMILIK -->
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Citizen</label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.Warganegara.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Address <br /></label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.Alamat_Semasa.Address.ToUpper() ,@Model.GetOwnerDetails.Alamat_Semasa.Postcode, @Model.GetOwnerDetails.Alamat_Semasa.City.ToUpper() , @Model.GetOwnerDetails.Alamat_Semasa.State.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._AlamatSMenyurat</label>
                                    @if (Model.GetOwnerDetails.Alamat_Surat_Menyurat != null)
                                    {
                                        <div class="col-sm-9">
                                            @Model.GetOwnerDetails.Alamat_Surat_Menyurat.Address @Model.GetOwnerDetails.Alamat_Surat_Menyurat.Postcode  @Model.GetOwnerDetails.Alamat_Surat_Menyurat.City  @Model.GetOwnerDetails.Alamat_Surat_Menyurat.State
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-9">
                                            N/A
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Occupation</label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.Pekerjaan.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Mobile_No</label>
                                    <div class="col-sm-4">
                                        @Model.GetOwnerDetails.NoTel
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Email</label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.Emel
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END TABLE PEMILIK -->

            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="hidupanLiar" role="tabpanel" aria-labelledby="hidupanLiar-tab">
    <div class="form-card" style="padding: 20px">
        <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
            <div class="table-responsive">
                <!-- START TABLE HIDUPAN LIAR -->
                <table class="table table2 table-bordered table-hover mb-4 " id="">
                    @*<thead>
                            <tr class="thead-light">
                                <th colspan="8">@Resources.Verification.VV_Owner</th>
                            </tr>
                        </thead>*@
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Verification.VV_ScientificName</label>
                                    <div class="col-sm-9">
                                        @Model.ViewSemakanLesenMemburuMengambil.NamaSaintifik
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Verification.VV_Quantity</label>
                                    <div class="col-sm-4">
                                        @Model.ViewSemakanLesenMemburuMengambil.Kuantiti
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_Tempoh</label>
                                    <div class="col-sm-9">
                                        @Model.ViewSemakanLesenMemburuMengambil.Tempoh @Resources.Verification._Month
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END TABLE HIDUPAN LIAR -->

            </div>
        </div>
    </div>
</div>

@Html.Partial("_actionStatusSemakan", Model)




