@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.StatusLesen
@using ePerhilitanV2.Infrastructures.Services;


@{
    var LicenseType = ViewBag.LicenseType;

}

<style>
    .form-control-file {
        color: black;
    }

    .text-blue-dwd {
        color: blue;
    }

    .form-control-file::-webkit-file-upload-button {
        background-color: #096d49;
    }

    .uppercase {
        text-transform: uppercase;
    }
</style>

<div class="tab-pane fade @(Model.ActiveTabIndex == 0 ? "show active" : "")" id="lesen" role="tabpanel" aria-labelledby="lesen-tab">
    <div class="form-card" style="padding: 20px">
        <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
            <div class="table-responsive">
                <!-- START TABLE LESEN -->
                <table class="table table2 table-bordered mb-4">
                    <thead>
                        <tr class="thead-light">
                            <th colspan="8">@Resources.Resource._License</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Verification.VV_LicenseType</label>
                                    <div class="col-sm-9">
                                        @Model.NamaLesen.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- END TABLE LESEN -->
                <!-- START TABLE PEMILIK -->
                <table class="table table2 table-bordered table-hover mb-4 " id="">
                    <thead>
                        <tr class="thead-light">
                            <th colspan="8">@Resources.Verification.VV_Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Name</label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.NamaPemegang
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Ic_No</label>
                                    <div class="col-sm-4">
                                        @Model.GetOwnerDetails.IdNo
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <!-- START TABLE PEMILIK -->
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Citizen</label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.Warganegara.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Address <br /></label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.Alamat_Semasa.Address.ToUpper() ,@Model.GetOwnerDetails.Alamat_Semasa.Postcode, @Model.GetOwnerDetails.Alamat_Semasa.City.ToUpper() , @Model.GetOwnerDetails.Alamat_Semasa.State.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._AlamatSMenyurat</label>
                                    @if (Model.GetOwnerDetails.Alamat_Surat_Menyurat != null)
                                    {
                                        <div class="col-sm-9">
                                            @Model.GetOwnerDetails.Alamat_Surat_Menyurat.Address @Model.GetOwnerDetails.Alamat_Surat_Menyurat.Postcode  @Model.GetOwnerDetails.Alamat_Surat_Menyurat.City  @Model.GetOwnerDetails.Alamat_Surat_Menyurat.State
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-9">
                                            N/A
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Occupation</label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.Pekerjaan.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Mobile_No</label>
                                    <div class="col-sm-4">
                                        @Model.GetOwnerDetails.NoTel
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Email</label>
                                    <div class="col-sm-9">
                                        @Model.GetOwnerDetails.Emel
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END TABLE PEMILIK -->
                <!-- START TABLE SYARIKAT -->
                <table class="table table2 table-bordered table-hover mb-4 ">
                    <thead>
                        <tr class="thead-light">
                            <th colspan="8">@Resources.Resource._Company</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._CompanyName</label>
                                    <div class="col-sm-9">
                                        @Model.GetCompanyDetails.NamaSyarikat.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._CompanyType</label>
                                    <div class="col-sm-9">
                                        @Model.GetCompanyDetails.JenisSyarikat.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._CompanyRegisterNo</label>
                                    <div class="col-sm-4">
                                        [@Model.GetCompanyDetails.TypeSyarikat] @Model.GetCompanyDetails.NoSyarikat
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Address <br /></label>
                                    <div class="col-sm-9">
                                        @Model.GetCompanyDetails.Alamat_Syarikat.Address.ToUpper(),  @Model.GetCompanyDetails.Alamat_Syarikat.Postcode, @Model.GetCompanyDetails.Alamat_Syarikat.State.ToUpper()
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Mobile_No</label>
                                    <div class="col-sm-4">
                                        @Model.GetCompanyDetails.NoTel
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END TABLE SYARIKAT -->

            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="lampiran" role="tabpanel" aria-labelledby="lampiran-tab">
    <div class="form-card" style="padding: 20px">
        <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
            <div class="table-responsive">
                <!-- START TABLE LAMPIRAN -->
                <table class="table table2 table-bordered table-hover mb-4 " id="">
                    <thead>
                        <tr class="thead-light">
                            <th colspan="8">@Resources.Verification._Document</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group row">
                                    <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.License.LES_SalinanPendaftaranSyarikat</label>
                                    @*check if Model.ListDocument is not null and if there is at least one document with the name "roc"*@
                                    @if (Model.ListDocument != null && Model.ListDocument.Any(d => d.File_Name == "roc"))
                                    {
                                        foreach (var d in Model.ListDocument)
                                        {
                                            if (d.File_Name == "roc")
                                            {
                                                <div class="col-sm-4">
                                                    <i class="feather-20" data-feather="download"></i><a href="~/@d.File_Location">Surat Daftar Syarikat</a>
                                                </div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-sm-3 col-form-label col-form-label-sm">
                                            @Resources.Verification._NoFileAttached
                                        </div>
                                    }


                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END TABLE LAMPIRAN -->

            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="hidupanLiar" role="tabpanel" aria-labelledby="hidupanLiar-tab">
    <div class="form-card" style="padding: 20px">
        <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
            <div class="table-responsive">
                <!-- START TABLE HIDUPAN LIAR -->
                @*@if (LicenseType == 8 || LicenseType == 9)
                    {*@
                <table class="table table2 table-bordered table-hover mb-4 " id="">
                    <thead>
                        <tr class="thead-light">
                            <th class="text-center">@Resources.Verification.VV_No</th>
                            <th class="text-center">@Resources.Verification.VV_Species</th>
                            <th class="text-center">@Resources.Verification.VV_NoPenandaan</th>
                            <th class="text-center">@Resources.Verification.VV_Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var no = 1;}
                        @*@Model.ViewSemakanImportEksportReEksport.Specimen*@
                        @if (Model.ViewSemakanImportEksportReEksport.Specimen == "Hidup")
                        {
                            foreach (var s in Model.getTotalSpeciesList)
                            {
                                <tr>
                                    <td class="text-center" width="5%">@no</td>
                                    <td class="text-center">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                @s.Spesis_Name_Scientific
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                @s.No_Penandaan
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                @s.NamaJantina
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                no++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-center" width="5%">@no</td>
                                <td class="text-center">
                                    <div class="form-group row">
                                        <div class="col-sm-9">
                                            @Model.getSpeciesDetails.Spesis_Name_Scientific
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="form-group row">
                                        <div class="col-sm-9">
                                            @Model.getSpeciesDetails.No_Penandaan
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="form-group row">
                                        <div class="col-sm-9">
                                            @Model.getSpeciesDetails.NamaJantina
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }




                    </tbody>
                </table>
                @*}
                    else
                    {
                        <table class="table table2 table-bordered table-hover mb-4 " id="">
                            <thead>
                                <tr class="thead-light">
                                    <th class="text-center">@Resources.Verification.VV_No</th>
                                    <th class="text-center">@Resources.Verification.VV_Species</th>
                                    <th class="text-center">@Resources.Verification.VV_Quantity</th>
                                    <th class="text-center">@Resources.Verification.VV_Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var no = 1;}

                                @if (Model.ViewSemakanImportEksportReEksport.Specimen == "Hidup")
                                {
                                    foreach (var s in Model.getTotalSpeciesList)
                                    {
                                        <tr>
                                            <td class="text-center" width="5%">@no</td>
                                            <td class="text-center">
                                                <div class="form-group row">
                                                    <div class="col-sm-9">
                                                        @s.Spesis_Name_Scientific
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="form-group row">
                                                    <div class="col-sm-9">
                                                        @s.Quantity
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="form-group row">
                                                    <div class="col-sm-9">
                                                        @s.Catatan
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        no++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" width="5%">@no</td>
                                        <td class="text-center">
                                            <div class="form-group row">
                                                <div class="col-sm-9">
                                                    @Model.getSpeciesDetails.Spesis_Name_Scientific
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group row">
                                                <div class="col-sm-9">
                                                    @Model.getSpeciesDetails.Quantity.Split('|')[0]  @Model.getSpeciesDetails.Quantity.Split('|')[1]
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group row">
                                                <div class="col-sm-9">
                                                    @Model.getSpeciesDetails.Catatan
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }




                            </tbody>
                        </table>
                    }*@

                <!-- END TABLE HIDUPAN LIAR -->

            </div>
        </div>
    </div>
</div>

@Html.Partial("_actionStatusSemakan", Model)





