@*@model List<ePerhilitanV2.Models.ViewModels.PengesahanViewModel.User>*@

@{
    ViewBag.Title = "Carian Semakan Spesis";
    var encodedPage = GlobalFunction.encodeThis("1");
}

<style>

    .txtColorbtn {
        color: white;
    }
</style>

<div class="col-xl-12 col-lg-12 col-md-12">
    <div class="col-xl-12 col-lg-10 col-md-10 mx-auto mt-3">
        <div id="iconsAccordion" class="accordion-icons">
            <div class="card">
                <div class="card-header" id="headingOne3">
                    <section class="mb-0 mt-0">
                        <div role="menu" class="collapsed" data-toggle="collapse" data-target="#iconAccordionOne" aria-expanded="false" aria-controls="iconAccordionOne">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="accordion-icon">
                                        <div class="icon-text">
                                            <h6 style="font-weight: 500;"> @Resources.Verification.VV_ReviewerAction  </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i data-feather="chevron-down"></i>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div id="iconAccordionOne" class="collapse show" aria-labelledby="headingOne3" data-parent="#iconsAccordion" style="">
                    <div class="card-body">
                        <div class="col-xl-8 col-lg-8 col-md-8 mx-auto ">

                            <div class="form-group col-md-12" id="jenisCarianGroup">
                                <p>@Resources.Verification.VV_TypeSearch</p>
                                <div>
                                    <select class="form-control form-control-sm nested" id="jenisCarianSelect">
                                        <option>Sila Pilih</option>
                                        <option value="1">@Resources.Resource._Ic_No / @Resources.Resource._Passport_No </option>
                                        <option value="2">@Resources.Verification.VV_LicenseNo</option>
                                        <option value="3">@Resources.Verification.VV_Cites_Info / @Resources.Verification.VV_NonCites</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12 filtered-list-search mx-auto">
                                <p>@Resources.Verification.VV_Search</p>
                                <form class="form-inline my-2 my-lg-0 justify-content-center">
                                    <div class="w-100">
                                        <input type="text" class="w-100 form-control product-search br-30" id="keyword" placeholder="">
                                        <button id="SearchBtn" class="btn btn-primary" type="button"><i class="feather-20" data-feather="search"></i> </button>
                                    </div>
                                </form>
                            </div>

                            @*<div class="form-group row">
                                <label for="searchByScientificName" class="col-sm-3 col-form-label col-form-label-sm text-right">
                                    @Resources.Management.MGM_ScientificName
                                </label>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                                    <select class="custom-select custom-select-sm tagging" id="searchByScientificName">
                                        <option value="">@Resources.Management.MGM_ChooseScienAnimal</option>
                                       
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row col-md-12 filtered-list-search mx-auto">
                                <label for="searchByLocalName" class="col-sm-3 col-form-label col-form-label-sm text-right">@Resources.Management.MGM_LocalName</label>
                                <form class="form-inline my-2 my-lg-0 justify-content-center">
                                    <div class="w-100">
                                        <input type="text" class="w-100 form-control product-search br-30" id="keyword" placeholder="">
                                        <button id="SearchBtn" class="btn btn-primary" type="button"><i class="feather-20" data-feather="search"></i> </button>
                                    </div>
                                </form>
                            </div>

                            <div class="card-body">
                                <div class="col-xl-8 col-lg-8 col-md-8 mx-auto ">
                                    <div class="form-group row">
                                        <label for="searchByName" class="col-sm-3 col-form-label col-form-label-sm text-right">@Resources.Verification.VV_TypeSearch</label>
                                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                                            <input type="email" class="form-control" id="searchByName" placeholder="SPESIS ID">
                                        </div>
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                            <button id="SearchBtn" class="btn btn-primary" type="button"><i class="feather-20" data-feather="search"></i> </button>
                                        </div>
                                    </div>


                                </div>
                            </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <!-- START TABLE DISPLAY LIST OF APPLICATION -->
    <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mb-4" id="semakSpesis">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- Bootstrap Modal-->
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userModalLabel">@Resources.Verification.VV_ViewDetails</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <!-- Partial view content here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END TABLE DISPLAY APPLICATION LIST -->
</div>

@section scripts{
    <script>

        var jenisCarianSelect;
        var table;
        var urlByIc = '@Url.Action("GetDataByIC", "Pengesahan")';
        var urlByNoLesen = '@Url.Action("GetDataByNoLesen", "Pengesahan")';
        var urlByCitesNo = '@Url.Action("GetDataByNoCites", "Pengesahan")';
        var encodedPage = '@encodedPage';

        function openNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }

        $(function () {

            $('#jenisCarianSelect').on("change", function () {
                jenisCarianSelect = this.value;
            });

            function performSearch(url, jenisCarianSelect, keyword) {
                if (keyword !== "") {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: { "keyword": keyword },
                        success: function (data) {
                            table = $('#semakSpesis').DataTable({
                                "searching": false,
                                "destroy": true,
                                "deferRender": true,
                                "oLanguage": {
                                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                                    "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                                    "sSearchPlaceholder": "Search...",
                                    "sLengthMenu": "Results :  _MENU_",
                                    "processing": true,
                                },
                                "bProcessing": true,
                                "data": data,
                                "columns": [
                                    {
                                        "data": null, "title": "No", "className": "text-center", "render": function (data, type, row, meta) {
                                            return meta.row + 1;    //meta.row = index of row + 1
                                        }
                                    },
                                    { "data": "ownerName", "title": "@Resources.Resource._Name", "className": "text-center" },
                                    { "data": "ic", "title": "@Resources.Resource._Ic_No", "className": "text-center" },
                                    { "data": "noLesen", "title": "@Resources.Verification.VV_LicenseNo", "className": "text-center" },
                                    { "data": "noCites", "title": "@Resources.Verification.VV_CITES_No", "className": "text-center" },
                                    { "data": "category", "title": "@Resources.Verification.VV_Category", "className": "text-center" },
                                    {
                                        "data": null,
                                        "title": "@Resources.Resource._Action",
                                        "className": "text-center",
                                        "render": function (data) {
                                            var urlEdit = '@Url.Action("EditMaklumat", "Pengesahan")';
                                            var urlView = '@Url.Action("ViewMaklumat", "Pengesahan")';
                                            //url = url +'?Page='+ '?id=' + data.id_user; // Append any necessary query parameters (encrypt nnti id!)
                                            urlEdit = urlEdit + '?Page=' + encodedPage + '&id=' + data.id_user;
                                            urlView = urlView + '/' + data.id_user;
                                            if (data.status_penyemak == 1 || data.status_pengesah == 1) {
                                                return '<a href="' + urlView + '" title="Papar" class="rounded bs-tooltip mr-1" data-original-title="Papar" onclick = "openNewTab(\'' + urlView + '\');return false;">' +
                                                    '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye feather-20"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></a>';
                                            }
                                            else  {
                                                return '<a href="' + urlEdit + '" title="Semak" class="rounded bs-tooltip mr-1" data-original-title="Semak" onclick = "openNewTab(\'' + urlEdit + '\');return false;">' +
                                                    '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit feather-20"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></a>';
                                            }
                                           

                                        }
                                    }
                                ],
                            });
                            table.draw();
                        }
                    });
                }
                else
                {
                    swal({
                        title: 'Invalid!',
                        text: "Please enter the Keyword!",
                        type: 'error',
                        padding: '2em'
                 });
                }
            }

            $('#SearchBtn').on("click", function () {
                var keyword = $('#keyword').val();
                //Search by IC
                if (jenisCarianSelect == 1 && keyword !== "") {
                    performSearch(urlByIc, jenisCarianSelect, keyword);
                }
                //Search by NO LESEN
                else if (jenisCarianSelect == 2 && keyword !== "") {
                    performSearch(urlByNoLesen, jenisCarianSelect, keyword);
                }
                //Search by NO CITES
                else if (jenisCarianSelect == 3 && keyword !== "") {
                    performSearch(urlByCitesNo, jenisCarianSelect, keyword);
                }

                else {
                    swal({
                        title: 'Invalid!',
                        text: "Not found",
                        type: 'error',
                        padding: '2em'
                    })
                }

            });

        });
    </script>
}

