@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.ImportExport
@{
    ViewBag.Title = "Maklumat Carian";

}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

    @*<ul class="nav nav-pills mb-3 justify-content-center" id="justify-center-pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="justify-center-pills-pemilik-tab" data-toggle="pill" href="#justify-center-pills-pemilik" role="tab" aria-controls="justify-center-pills-pemilik" aria-selected="true"> @Resources.Verification.VV_Owner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="justify-center-pills-kuatkuasa-tab" data-toggle="pill" href="#justify-center-pills-kuatkuasa" role="tab" aria-controls="justify-center-pills-kuatkuasa" aria-selected="false"> @Resources.Verification.VV_LicenseValid</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" id="justify-center-pills-lesentamat-tab" data-toggle="pill" href="#justify-center-pills-lesentamat" role="tab" aria-controls="justify-center-pills-lesentamat" aria-selected="false"> @Resources.Verification.VV_LicenseExpired</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="justify-center-pills-permohonan-tab" data-toggle="pill" href="#justify-center-pills-permohonan" role="tab" aria-controls="justify-center-pills-permohonan" aria-selected="false"> @Resources.Verification.VV_License_Permit_SpecialPermitApplication</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="justify-center-pills-digantung-tab" data-toggle="pill" href="#justify-center-pills-digantung" role="tab" aria-controls="justify-center-pills-digantung" aria-selected="false"> @Resources.Verification.VV_LicenseSuspended_Cancelled</a>
            </li>
        </ul>*@

    <!-- START LINK EACH TAB-->
    <ul class="nav nav-tabs  mb-3 mt-3" role="tablist">
        @*<li class="nav-item">
                <a class="nav-link active" id="pemilik-tab" data-toggle="tab" href="#pemilik" role="tab" aria-controls="pemilik" aria-selected="true">@Resources.Verification.VV_Owner</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link active" id="kuatkuasa-tab" data-toggle="tab" href="#kuatkuasa" role="tab" aria-controls="kuatkuasa" aria-selected="false">@Resources.Verification.VV_LicenseValid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lesentamat-tab" data-toggle="tab" href="#lesentamat" role="tab" aria-controls="lesentamat" aria-selected="false">@Resources.Verification.VV_LicenseExpired</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="permohonan-tab" data-toggle="tab" href="#permohonan" role="tab" aria-controls="permohonan" aria-selected="false">@Resources.Verification.VV_License_Permit_SpecialPermitApplication</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="digantung-tab" data-toggle="tab" href="#digantung" role="tab" aria-controls="digantung" aria-selected="false">@Resources.Verification.VV_LicenseSuspended_Cancelled</a>
        </li>
    </ul>

    <!-- START TAB -->
    <div class="tab-content">
        <!-- START PEMEGANG TAB -->
        @*<div class="tab-pane fade show active" id="pemilik" role="tabpanel" aria-labelledby="pemilik-tab">
                <div class="col-xl-10 col-lg-10 col-md-10 mx-auto justify-content-center">
                    <div class="form-card">
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Citizen</label>
                            <div class="col-sm-9">
                                @Model.GetOwnerDetails.Warganegara
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Ic_No</label>
                            <div class="col-sm-4">
                                @Model.GetOwnerDetails.IdNo
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Name</label>
                            <div class="col-sm-9">
                                @Model.GetOwnerDetails.NamaPemegang
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Occupation</label>
                            <div class="col-sm-9">
                                @Model.GetOwnerDetails.Pekerjaan
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Address <br /></label>
                            <div class="col-sm-9">
                                @Model.GetOwnerDetails.Alamat_Semasa.Address,@Model.GetOwnerDetails.Alamat_Semasa.Postcode,@Model.GetOwnerDetails.Alamat_Semasa.City,@Model.GetOwnerDetails.Alamat_Semasa.State
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Mobile_No</label>
                            <div class="col-sm-4">
                                @Model.GetOwnerDetails.NoTel
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Fax_No</label>
                            <div class="col-sm-4">
                                @Model.GetOwnerDetails.NoFax
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">@Resources.Resource._Email</label>
                            <div class="col-sm-9">
                                @Model.GetOwnerDetails.Emel
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- END PEMEGANG TAB -->
        <!-- START KUATKUASA TAB -->
        <div class="tab-pane fade show active" id="kuatkuasa" role="tabpanel" aria-labelledby="kuatkuasa-tab">
            <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-4" id="lesenKuatkuasa">
                        <thead>
                            <tr>
                                <th class="text-center">@Resources.Verification.VV_No</th>
                                <th class="text-center" width="20%">@Resources.Verification.VV_LicenseType</th>
                                <th class="text-center" width="20%">@Resources.Verification.VV_OfficeProducer</th>
                                <th class="text-center" width="10%">@Resources.Verification.VV_StartDate</th>
                                <th class="text-center" width="10%">@Resources.Verification.VV_EndDate</th>
                                <th class="text-center" width="20%">@Resources.Verification.VV_EntryDate</th>
                                <th class="text-center">@Resources.Resource._Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int no = 1; }
                            @foreach (var m in Model.getKuatkuasaLesen)
                            {
                                <tr>
                                    <td class="text-center">@no</td>
                                    <td class="text-center">@m.NamaLesen [@m.NoLesen]</td>
                                    <td class="text-center">@m.PejabatPengeluar</td>
                                    <td class="text-center">
                                        @Convert.ToDateTime(m.TarikhMula).ToString("dd/MM/yyyy hh:mm tt", new System.Globalization.CultureInfo("en-US"))
                                    </td>
                                    <td class="text-center">
                                        @Convert.ToDateTime(m.TarikhTamat).ToString("dd/MM/yyyy hh:mm tt", new System.Globalization.CultureInfo("en-US"))
                                    </td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">
                                        <a href="#" onclick="openNewTab('@Url.Action("ViewSemakanLesen", "Pengesahan",new {id = GlobalFunction.encodeThis(m.LesenID.ToString()) })')"><i class="feather-20" data-feather="edit"></i></a>
                                    </td>
                                </tr>
                                no++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END KUATKUASA TAB -->
        <!-- START LESENTAMAT TAB -->
        <div class="tab-pane fade" id="lesentamat" role="tabpanel" aria-labelledby="lesentamat-tab">
            <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-4" id="lesenTamat">
                        <thead>
                            <tr>
                                <th class="text-center" width="5%">@Resources.Verification.VV_No</th>
                                <th class="text-center">@Resources.Verification.VV_LicenseType</th>
                                <th class="text-center">@Resources.Verification.VV_OfficeProducer</th>
                                <th class="text-center">@Resources.Verification.VV_LicenseNo</th>
                                <th class="text-center">@Resources.Verification.VV_StartDate</th>
                                <th class="text-center">@Resources.Verification.VV_EndDate</th>
                                <th class="text-center">@Resources.Resource._Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int no1 = 1; }
                            @foreach (var m in Model.getTamatTempohLesen)
                            {
                                <tr>
                                    <td class="text-center" width="5%">@no1</td>
                                    <td class="text-center">@m.NamaLesen</td>
                                    <td class="text-center">@m.PejabatPengeluar</td>
                                    <td class="text-center">@m.NoLesen</td>
                                    <td class="text-center" width="15%">
                                        @*@m.TarikhMula*@
                                        @Convert.ToDateTime(m.TarikhMula).ToString("dd/MM/yyyy hh:mm tt", new System.Globalization.CultureInfo("en-US"))
                                    </td>
                                    <td class="text-center" width="15%">
                                        @Convert.ToDateTime(m.TarikhTamat).ToString("dd/MM/yyyy hh:mm tt", new System.Globalization.CultureInfo("en-US"))
                                    </td>
                                    @*Module selain V&V*@
                                    <td class="text-center">
                                        <a href="#" onclick="openNewTab('@Url.Action("ViewSemakanLesen", "Pengesahan",new {id = GlobalFunction.encodeThis(m.LesenID.ToString()) })')"><i class="feather-20" data-feather="edit"></i></a>
                                    </td>

                                </tr>
                                no1++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END LESENTAMAT TAB -->
        <!-- START PERMOHONAN TAB -->
        <div class="tab-pane fade" id="permohonan" role="tabpanel" aria-labelledby="permohonan-tab">
            <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-4" id="permohonanTable">
                        <thead>
                            <tr>
                                <th class="text-center">@Resources.Verification.VV_No</th>
                                <th class="text-center">@Resources.Verification.VV_LicenseType</th>
                                <th class="text-center">@Resources.Verification.VV_Apply</th>
                                <th class="text-center">@Resources.Verification.VV_Review</th>
                                <th class="text-center">@Resources.Verification.VV_Approval</th>
                                <th class="text-center">@Resources.Resource._Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">ABD KADIR BIN JAB</td>
                                    <td class="text-center">Surat Menyurat</td>
                                    <td class="text-center">413,BLK 14,JLN 18/3,SEKSYEN 18,40000 SHAH ALAM,SELANGOR.</td>
                                    <td class="text-center">B-02393-11-17</td>
                                    <td class="text-center">
                                        <span class="badge badge-secondary"> Selesai </span>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PERMOHONAN TAB -->
        <!-- START DIGANTUNG TAB -->
        <div class="tab-pane fade" id="digantung" role="tabpanel" aria-labelledby="digantung-tab">
            <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-4" id="lesenDigantung">
                        <thead>
                            <tr>
                                <th class="text-center">@Resources.Verification.VV_No</th>
                                <th class="text-center" width="28%">@Resources.Verification.VV_LicenseType [@Resources.Verification.VV_LicenseNo]</th>
                                <th class="text-center">@Resources.Verification.VV_OfficeProducer</th>
                                @*<th class="text-center">@Resources.Verification.VV_LicenseNo</th>*@
                                <th class="text-center">@Resources.Verification.VV_StartDate</th>
                                <th class="text-center">@Resources.Verification.VV_EndDate</th>
                                <th class="text-center">@Resources.Resource._Status</th>
                                @*<th class="text-center" width="15%">@Resources.Verification.VV_Notes</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{int no3 = 1; }
                            @foreach (var m in Model.getStatusBatalLesen)
                            {
                                <tr>
                                    <td class="text-center">@no3</td>
                                    <td class="text-center" width="28%">@m.NamaLesen [@m.NoLesen]</td>
                                    <td class="text-center" width="19%">@m.PejabatPengeluar</td>
                                    <td class="text-center" width="15%">
                                        @*@m.TarikhMula*@
                                        @Convert.ToDateTime(m.TarikhMula).ToString("dd/MM/yyyy hh:mm tt", new System.Globalization.CultureInfo("en-US"))
                                    </td>
                                    <td class="text-center" width="15%">
                                        @Convert.ToDateTime(m.TarikhTamat).ToString("dd/MM/yyyy hh:mm tt", new System.Globalization.CultureInfo("en-US"))
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-secondary">@m.Status </span>
                                    </td>
                                    @*<td class="text-center" width="15%">@m.Catatan</td>*@
                                </tr>
                                no3++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END DIGANTUNG TAB -->
        @*</div>*@
        <!-- END TAB -->
    </div>
</div>

@section scripts{
    <script>

        function openNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }

        //Table Lesen KuatKuasa
        $('#lesenKuatkuasa').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50],
            "pageLength": 10,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });

        //Lesen Tamat Tempoh
        $('#lesenTamat').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50],
            "pageLength": 10,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });

        //Permohonan
        $('#permohonanTable').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50],
            "pageLength": 10,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });

        //Lesen Digantung/Ditamatkan
        $('#lesenDigantung').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [10, 20, 50],
            "pageLength": 10,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });
    </script>
}


