@model ePerhilitanV2.Models.ViewModels.PengesahanViewModel.StatusLesen
@using ePerhilitanV2.Infrastructures.Services;

@{
    ViewBag.Title = @Resources.Verification.VV_ViewDetails;
    var LicenseType = ViewBag.LicenseType;

    var _accountService = new AccountService();
    var Role = _accountService.getRole(Model.User_Id);

}

<style>

    .table > thead > tr > th,
    .table > tbody > tr > td {
        color: #000;
        border: 1px solid #e4e4e4 !important;
    }

    .table th {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table td {
        padding-left: 0.75rem;
        padding-bottom: 0;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table > tbody:before {
        content: none; /*Remove content */
        display: none;
    }
</style>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    @using (Html.BeginForm("ViewSemakanLesen", "Pengesahan", FormMethod.Post, new { @class = "msform", enctype = "multipart/form-data", onsubmit = "return Validate(this,event)" }))
    {
        @Html.AntiForgeryToken()

        if (LicenseType == 7 || LicenseType == 8 || LicenseType == 9)
        {
            <ul class="nav nav-tabs  mb-3 mt-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 0 ? "active" : "")" id="lesen-tab" data-toggle="tab" href="#lesen" role="tab" aria-controls="lesen" aria-selected="true">@Resources.Verification.VV_HolderLicense_Permit_SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hidupanLiar-tab" data-toggle="tab" href="#hidupanLiar" role="tab" aria-controls="hidupanLiar" aria-selected="false">@Resources.Verification.VV_List_Wildlife</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lampiran-tab" data-toggle="tab" href="#lampiran" role="tab" aria-controls="lampiran" aria-selected="false">@Resources.Verification.VV_Appendix</a>
                </li>
                @*@if (!Role.(role => role == 12).Any()) // Exclude role 12
                    {*@
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 2 ? "active" : "")" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">@Resources.License.LES_Status</a>
                </li>
                @*}*@
                @*}*@
            </ul>

            <!-- START TAB -->
            <div class="tab-content">
                @Html.Partial("_viewSemakanImportEksportReEksport", Model)
            </div>
            <!-- END TAB -->
        }

        else if (LicenseType == 1 || LicenseType == 2 || LicenseType == 14)  //memburu dan mengambil
        {
            <ul class="nav nav-tabs  mb-3 mt-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 0 ? "active" : "")" id="lesen-tab" data-toggle="tab" href="#lesen" role="tab" aria-controls="lesen" aria-selected="true">@Resources.Verification.VV_HolderLicense_Permit_SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hidupanLiar-tab" data-toggle="tab" href="#hidupanLiar" role="tab" aria-controls="hidupanLiar" aria-selected="false">@Resources.Verification.VV_List_Wildlife</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 2 ? "active" : "")" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">@Resources.License.LES_Status</a>
                </li>
            </ul>

            <!-- START TAB -->
            <div class="tab-content">
                @Html.Partial("_viewSemakanMemburuMengambil", Model)
            </div>
            <!-- END TAB -->
        }

        else if (LicenseType == 3 || LicenseType == 4 || LicenseType == 13)  //Mengguna/Menyimpan/Kajian
        {
            <ul class="nav nav-tabs  mb-3 mt-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 0 ? "active" : "")" id="lesen-tab" data-toggle="tab" href="#lesen" role="tab" aria-controls="lesen" aria-selected="true">@Resources.Verification.VV_HolderLicense_Permit_SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="perolehan-tab" data-toggle="tab" href="#perolehan" role="tab" aria-controls="perolehan" aria-selected="false">@Resources.License.LES_Perolehan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hidupanLiar-tab" data-toggle="tab" href="#hidupanLiar" role="tab" aria-controls="hidupanLiar" aria-selected="false">@Resources.Verification.VV_List_Wildlife</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 2 ? "active" : "")" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">@Resources.License.LES_Status</a>
                </li>
            </ul>

            <!-- START TAB -->
            <div class="tab-content">
                @Html.Partial("_viewSemakanMenyimpanMenggunaKajian", Model)
            </div>
            <!-- END TAB -->
        }

        else if (LicenseType == 5 || LicenseType == 6)  //Niaga/Taksidermi
        {
            <ul class="nav nav-tabs  mb-3 mt-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 0 ? "active" : "")" id="lesen-tab" data-toggle="tab" href="#lesen" role="tab" aria-controls="lesen" aria-selected="true">@Resources.Verification.VV_HolderLicense_Permit_SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lampiran-tab" data-toggle="tab" href="#lampiran" role="tab" aria-controls="lampiran" aria-selected="false">@Resources.Verification.VV_Appendix</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 2 ? "active" : "")" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">@Resources.License.LES_Status</a>
                </li>
            </ul>

            <!-- START TAB -->
            <div class="tab-content">
                @Html.Partial("_viewSemakanNiagaTaksidermi", Model)


            </div>
            <!-- END TAB -->
        }

        else if (LicenseType == 10)  //Permit
        {
            <ul class="nav nav-tabs  mb-3 mt-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 0 ? "active" : "")" id="lesen-tab" data-toggle="tab" href="#lesen" role="tab" aria-controls="lesen" aria-selected="true">@Resources.Verification.VV_HolderLicense_Permit_SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hidupanLiar-tab" data-toggle="tab" href="#hidupanLiar" role="tab" aria-controls="hidupanLiar" aria-selected="false">@Resources.Verification.VV_List_Wildlife</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="kementerian-tab" data-toggle="tab" href="#kementerian" role="tab" aria-controls="kementerian" aria-selected="false">@Resources.Verification._MinistryApproval</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 2 ? "active" : "")" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">@Resources.License.LES_Status</a>
                </li>
            </ul>

            <!-- START TAB -->
            <div class="tab-content">
                @Html.Partial("_viewSemakanPermit", Model)


            </div>
            <!-- END TAB -->
        }

        else if (LicenseType == 11)  //Permit
        {
            <ul class="nav nav-tabs  mb-3 mt-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 0 ? "active" : "")" id="lesen-tab" data-toggle="tab" href="#lesen" role="tab" aria-controls="lesen" aria-selected="true">@Resources.Verification.VV_HolderLicense_Permit_SP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hidupanLiar-tab" data-toggle="tab" href="#hidupanLiar" role="tab" aria-controls="hidupanLiar" aria-selected="false">@Resources.Verification.VV_List_Wildlife</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lampiran-tab" data-toggle="tab" href="#lampiran" role="tab" aria-controls="lampiran" aria-selected="false">@Resources.Verification.VV_Appendix</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="kementerian-tab" data-toggle="tab" href="#kementerian" role="tab" aria-controls="kementerian" aria-selected="false">@Resources.Verification._MinistryApproval</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.ActiveTabIndex == 2 ? "active" : "")" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">@Resources.License.LES_Status</a>
                </li>
            </ul>

            <!-- START TAB -->
            <div class="tab-content">
                @Html.Partial("_viewSemakanPermitKhas", Model)
            </div>
            <!-- END TAB -->
        }

        <br />
    }

</div>
<hr />

@section scripts{
    <script>
        $(document).ready(function () {
            //formatted date using flatpickr
            $("#date").flatpickr({
                dateFormat: "d/m/Y",
            });

            $("#statusLesen").change(function () {
                var status = $(this).val();

                if (status == "13") {
                    $('#lampiran1').show();
                    $('#lampiran2').hide();
                }
                else if (status == "14") {
                    $('#lampiran2').show();
                    $('#lampiran1').hide();
                }
                else {
                    $('#lampiran2').hide();
                    $('#lampiran1').hide();
                }
            })

        });

        function rememberActiveTab() {
            // Get the index of the active tab
            var activeTabIndex = $('.nav-tabs .nav-link.active').parent().index();

            // Store the active tab index in a hidden field
            $('#activeTabIndex').val(activeTabIndex);
        }

        function openNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
    </script>
}



